@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Merriweather&display=swap");

.WeatherEngine {
  display: flex;
  margin: 0 auto;
  color: white;
  width: 800px;
  padding: 5px;
  justify-content: space-between;
  margin-top: 20px;
}
